html {
	background-color: #e7dfd5;
	font-size: 16px;
	color: #2d2e3d;
	font-family: ActuallyGrotesk, monospace;
}

@font-face {
	font-family: ActuallyGrotesk;
	src: url('../fonts/actually_grotesk/ActuallyGrotesk-Regular.otf');
}


* {
	box-sizing: border-box;
}

/* header */

header {
	z-index: 1;
	width: 100%;
}

.header-content {
	display: flex;
	align-items: center;
	font-weight: 600;
}

.logo {
	font-size: 2rem;
	display: flex;
	align-items: center;
}

.logo a {
	padding-left: 1rem;
}

.header-content {
	padding: 1rem 2rem;
	justify-content: space-between;
}

.header-content nav ul {
	display: flex;
}

.header-content ul li {
	font-size: 2rem;
	padding-left: 2rem;
}

.header-content ul li:last-child {
	padding-left: 0.5rem;
}

.header-content a:visited {
	color: #252e55;
	text-decoration-color: #252e55;
}

.header-content ul li:visited {
	text-decoration: underline;
	text-decoration-color: #252e55;
	cursor: pointer;
}

.header-content ul li:hover {
	text-decoration: underline;
	text-decoration-color: #252e55;
	cursor: pointer;
}

@media screen and (max-width: 768px) and (min-width: 480px) {
	.header-content {
		padding: 1rem 1rem;
	}

	.logo {
		font-size: 1.5rem;
	}

	.header-content ul li {
		font-size: 1.5rem;
		padding-left: 0.7rem;
	}
}

@media screen and (max-width: 480px) {
	.logo {
		font-size: 1.5rem;
	}

	.header-content {
		padding: 1rem 0rem;
	}

	.header-content ul li {
		font-size: 1.5rem;
		padding-left: 1rem;
	}
}

@media screen and (max-width: 420px) {
	.logo {
		font-size: 1rem;
	}

	.header-content {
		padding: 1rem 0rem;
	}

	.header-content ul li {
		font-size: 1rem;
		padding-left: 1rem;
	}
}

/* welcome section */

#welcome {
	position: relative;
	font-size: 4rem;
	text-transform: lowercase;
	padding-bottom: 3rem;
}

#spiral {
	width: 25%;
	position: absolute;
	top: 8%;
	right: 10%;
}

#arch {
	position: absolute;
	top: 20%;
	left: 22%;
	width: 30%;
}

path {
	fill: transparent;
}

text {
	fill: #FF9800;
	letter-spacing: 1.2rem;
}

@media screen and (max-width: 480px) {
	#welcome {
		padding-bottom: 1rem;
	}
}


/*running line*/

.container {
	overflow: hidden;
	white-space: nowrap;
	border: 1px solid #252e55;
}

.scrolling {
	will-change: transform;
	font-size: 3rem;
	animation: marquee 30s linear infinite;
	display: inline-block;
	padding-right: 10px;
}

.scrolling img {
	vertical-align: middle;
}

.running-img {
	width: 3rem;
	padding-bottom: 7px;
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.scrolling {
		font-size: 2.5rem;
	}

	.running-img {
		width: 2.5rem;
		padding-bottom: 3px;
	}
}

@media screen and (max-width: 768px) and (min-width: 480px) {
	.scrolling {
		font-size: 2rem;
	}

	.running-img {
		width: 2rem;
		padding-bottom: 1px;
	}
}

@media screen and (max-width: 480px) {
	.scrolling {
		font-size: 1.2rem;
	}

	.running-img {
		width: 1.5rem;
		padding-bottom: 1px;
	}
}

/* about section */

#about {
	position: relative;
	display: flex;
	align-items: center;
	margin: 7rem;
}

#about h1 {
	font-size: 4rem;
	padding: 2rem;
	flex: 1 1 150px;
	text-align: center;
	line-height: 6rem;
	text-transform: uppercase;
	background-image: url('../imgs/green-star.png');
	background-position: center;
	background-size: 20rem;
	background-repeat: no-repeat;
	background-color: rgba(231,223,213, 0.4);
	background-blend-mode: lighten;
}

#about img{
	position: absolute;
	width: 25rem;
	opacity: 0.6;
	display: none;
}

#about p {
	font-size: 2rem;
	padding: 2rem;
	flex: 1 1 150px;
	border: 1px solid black;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	#about {
		margin: 2rem;
		flex-direction: column;
	}
}

@media screen and (max-width: 768px) and (min-width: 480px) {
	#about {
		margin: 2rem;
		flex-direction: column;
	}
	#about h1 {
		font-size: 3rem;
		background-size: 15rem;
	}
}

@media screen and (max-width: 480px) {
	#about {
		margin: 1.5rem;
		flex-direction: column;
	}

	#about h1 {
		font-size: 2rem;
		background-size: 15rem;
	}
}

@media screen and (max-width: 425px) {
	#about {
		margin: 1.5rem;
		flex-direction: column;
	}

	#about h1 {
		font-size: 1.5rem;
		background-size: 10rem;
		line-height: 2rem;
	}

	#about p {
		font-size: 1.5rem;
	}
}


/* cv section */

#cv-container {
	display: flex;
	width: 100vw;
	font-size: 2rem;
	gap: 5%;
}

#first-column {
	flex: 1 1 20%;
	align-self: center;
}

#second-column {
	flex: 2 1 30%;
}

#third-column {
	flex: 2 1 30%;
}
 
hr {
	border: 2px solid #252e55;
	border-radius: 2px;
}

.cv-event {
	padding: 1rem 0;
}

@media screen and (max-width: 1023px)  {
	#cv-container {
		flex-direction: column;
	}

	#first-column {
		margin: 2rem;
		text-align: center;
	}

	#first-column hr{
		display: none;
	}

	#second-column, #third-column {
		padding: 0rem 2rem;
	}

	#third-column {
		padding-bottom: 2rem;
	}
}

@media screen and (max-width: 425px) {
	#cv-container {
		font-size: 1.5rem;
	}
}

/* projects section */

#projects {
	display: grid;
	grid-template-columns: repeat(18, 0.5fr);
	grid-template-rows: repeat(13, 0.5fr);
}

#projects h3 {
	font-size: 4rem;
	grid-area: 6 / 7 / span 1 / span 5;
	z-index: 1;
}

#projects img {
	height: 15rem;
	margin: 20px;
	padding: 3px;
	box-shadow: #252e55 0px 0px 0px 3px inset, greenyellow -20px 20px 0px 0px, #252e55 -20px 20px 0 3px;
}

#fotomatic {
	grid-area: 1 / 7 / span 4 / span 7;
}

#luxdev {
	grid-area: 2 / 2 / span 4 / span 4;
}

#guide {
	grid-area: 9 / 7 / span 4 / span 4;
}

#tennis {
	grid-area: 8 / 1 / span 4 / span 4;
}

#teacozy {
	grid-area: 7 / 10 / span 4 / span 4;
}

#jammming {
	grid-area: 3 / 11 / span 4 / span 4;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	#projects {
		grid-template-columns: repeat(15, 0.5fr);
		grid-template-rows: repeat(18, 0.5fr);
	}

	#projects h3 {
		font-size: 3rem;
		grid-area: 6 / 9 / span 1 / span 5;
	}

	#projects img {
		height: 12rem;
		margin: 0px;
		padding: 3px;
	}

	#fotomatic {
		grid-area: 2 / 2 / span 4 / span 4;
	}
	
	#luxdev {
		grid-area: span 5 / span 5 / 12 / 13;
	}
	
	#guide {
		grid-area: 12 / 5 / span 4 / span 4;
	}
	
	#tennis {
		grid-area: 14 / 3 / span 4 / span 4;
	}
	
	#teacozy {
		grid-area: span 4 / span 4 / 13 / 11;
	}
	
	#jammming {
		grid-area: 1 / 6 / span 4 / span 4;
	}
}

@media screen and (max-width: 768px) {
	#projects {
		grid-template-columns: repeat(8, 0.5fr);
		grid-template-rows: repeat(25, 0.5fr);
	}

	#projects h3 {
		font-size: 2.5rem;
		grid-area: 1 / 6 / span 1 / span 5;
	}

	#projects img {
		height: 9em;
		margin: 0px;
		padding: 3px;
	}

	#fotomatic {
		grid-area: 3 / 2 / span 4 / span 4;
	}
	
	#luxdev {
		grid-area: 6 / 3 / span 4 / span 4;
	}
	
	#guide {
		grid-area: 17 / 2 / span 4 / span 4;
	}
	
	#tennis {
		grid-area: 20 / 3 / span 4 / span 4;
	}
	
	#teacozy {
		grid-area: 13 / 3 / span 4 / span 4;
	}
	
	#jammming {
		grid-area: 9 / 2 / span 4 / span 4;
	}
}

@media screen and (max-width: 425px) {
	#projects img {
		height: 7em;
	}

	#projects h3 {
		font-size: 2rem;
	}
}

/* contact section */

#contact {
	display: flex;
	justify-content: space-around;
	padding: 5rem 0;
	font-size: 3rem;
}

#contact h3 {
	width: 30%;
	text-align: left;
}

#contact nav {
	width: 30%;
}

#contact nav a {
	color: inherit;
	display: inline-block;
}

#contact nav a img {
	width: 2rem;
	vertical-align: middle;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	#contact {
		font-size: 2rem;
	}
}

@media screen and (max-width: 768px) {
	#contact {
		padding: 2rem 0rem;
		font-size: 2rem;
		gap: 2rem;
	}
	#contact h3 {
		width: 60%;
		padding-bottom: 2rem;
	}

	#contact nav {
		width: 60%;
	}
}

@media screen and (max-width: 425px) {
	#contact {
		flex-direction: column;
		align-items: flex-start;
		font-size: 1.5rem;
	}
}


/* footer */

footer {
	border-top: 1px solid;
}

footer p {
	text-align: center;
	padding: 1.5rem 0;
	font-size: 1.5rem;
}

@media screen and (max-width: 425px) {
	footer p {
		padding: 1rem 0;
		font-size: 1rem;
	}
}