html, body {
    background-color: #e7dfd5;
    font-size: 16px;
	color: #2d2e3d;
}

@font-face {
    font-family: ActuallyGrotesk;
    src: url('../fonts/actually_grotesk/ActuallyGrotesk-Regular.otf');
}

* {
	box-sizing: border-box;
}

/* header */

header {
    z-index: 1;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
	font-family: ActuallyGrotesk, monospace;
	font-weight: 600;
}

.logo {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.logo a {
    padding-left: 1rem;
}

.header-content {
    padding: 1rem 2rem;
    justify-content: space-between;
}

.header-content nav ul{
    display: flex;
}

.header-content ul li {
    font-size: 2rem;
    padding-left: 2rem;
}

.header-content a:visited {
	color:#252e55;
	text-decoration-color: #252e55;
}

.header-content ul li:hover {
    text-decoration: underline;
	text-decoration-color: #252e55;
    cursor: pointer;
}

/* welcome section */

#welcome {
	font-size: 4rem;
	font-family: ActuallyGrotesk, monospace;
	text-transform: lowercase;
}

#welcome img {
	width: 30rem;
	position: absolute;
	top: 5rem;
	right: 10rem;
}

path {
	fill: transparent;
}
  
text {
	fill: #FF9800;
	letter-spacing: 1.2rem;
}

/* about section */

#about {
	display: flex;
	
}